.regionDetails {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.regionName {
  padding-top: 26%;
  display: flex;
  justify-content: flex-end;
}

.regionBtn {
  border: none;
  margin-left: 66%;
  padding-top: 4%;
  border-radius: 53%;
  background-color: rgb(60, 99, 170);
}

.regionBorder {
  padding: 1%;
}
