.map {
    width: 16rem;
  }

  ul {
    display: grid;
    gap: 21px;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
  }

  li {
    padding: 12px;
    background-color: #fafafafa;
    border-radius: 8px;
  }
